<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
   integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
       <h1> Cộng hai số</h1>
       <form method="POST">
        <div class="mb-3">
          <label for="number1" class="form-label">Số thứ 1</label>
          <input type="number" class="form-control" id="number1" name="number1" >
        </div>
        <div class="mb-3">
          <label for="number2" class="form-label">Số thứ 2</label>
          <input type="number" class="form-control" id="number2" name="number2">
        </div>
        <button type="submit" class="btn btn-primary">Tổng</button>
      </form>
    </div>
</body>
</html>